* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pacifico', cursive;
  color: #660000;
  background-image: url(../images/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.game__board {
  width: 720px;
  height: 720px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
.memory__card {
  height: calc(25% - 10px);
  width: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: 0.5s;
  cursor: pointer;
}
.memory__card:active {
  transform: scale(0.95);
  transition: transform 0.2s;
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 2px #e6e6e6;
  border: 10px solid #fff;
  border-radius: 7%;
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
}
.memory__card.flip {
  transform: rotateY(180deg);
}
.game__info-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.game-info {
  font-size: 4em;
}
.overlay-text {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  color: #cc0000;
  font-size: 7em;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.overlay-text-small {
  font-size: 0.5em;
}
.overlay-text.visible {
  display: flex;
  animation-name: overlay;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes overlay {
  from {
    background-color: rgba(255, 255, 255, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 8em;
  }
}
